<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SlideshowApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F21975DD1E3C929F00BFE13C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F21975F11E3C92A000BFE13C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F21975FC1E3C92A000BFE13C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
